<div class="td_container td_margin_from_header">
	<div class="page-section">
		<div class="wrapper">
			<!--<h1 class="headline headline--center">My Cart ({{cart.noOfProduct}}) </h1> -->
			<div ng-show="cart.noOfProduct < 1">
				<p>Your cart is empty, go add product don't left your cart empty</p>
			</div>
			<div ng-show="cart.noOfProduct > 0">
			<div class="row">
			<div class="col-md-9">
				<div class="panel panel-info" style="margin-left: 10px;box-shadow:none; margin-right:10px; margin-bottom:10px;">
					<div class="panel-heading"  style="background-color:#009688 !important;border-radius: 0px;">
						<div class="panel-title" style='color:white'>My Cart ({{cart.noOfProduct}})</div>
				<!--<div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" > </a></div> -->
					</div>
				    <div class="td-row td-row__gutter">
						<!--<p>You Need to Pay &#x20B9; {{cart.netTotal}} for {{cart.noOfProduct}} products</p> -->
						<div class="td-row td-row__gutter td-row--header td-row--tb-margin">
							<div class="td-row-2">Product</div>
							<div class="td-row-2">Price</div>
							<div class="td-row-2">Discount</div>
							<div class="td-row-2">Quantity</div>
							<div class="td-row-2">Net Price</div>
							<div class="td-row-1">Remove</div>
						</div>
						<div class="td-row td-row__gutter td-row--tb-margin" ng-repeat="product in cart.cartData">
							<div class="td-row-2">
								<span> <img src="/img/samples/hardbind-02.jpg" class="img-thumbnail" style="width:50px;height:50px;" alt="Image">
									</span>{{product.productName}}</div>
							<div class="td-row-2">{{product.Amount}}</div>
							<div class="td-row-2">{{product.Discount}}</div>
							<div class="td-row-2">{{product.quantity}}</div>
							<div class="td-row-2">{{product.amountToBePaid}}</div>
							<div class="td-row-1">
						      <i class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="cart.removeProduct(product.orderId)"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
					<div class="col-md-3 pricing-box">
						<div class="row price-heading">
							<p>Price Details</p>
						</div>

						<div class="row total-price-row">
							<div class="col-md-9">
								<label> Total Price ({{cart.noOfProduct}} item)</label></div>
							<div class="col-md-3">{{cart.totalAmount}}</div>
						</div>

												<div class="row">
							<div class="col-md-9"><label>Delivery Charges</label></div>
							<div class="col-md-3">{{0}}</div>
						</div>

						<div class="row">
							<div class="col-md-9"><label>Total savings on this order</label></div>
							<div class="col-md-3">{{cart.totalDiscount}}</div>
						</div>
						<div class="row">
							<div class="col-md-9"><label>Amount Payable</label> </div>
							<div class="col-md-3">{{cart.netTotal}}</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-left">
								<div class="btn btn-warning btn-sm" ng-click="cart.checkout()">checkout</div>
								<div class="btn btn-primary btn-sm" ng-click="cart.goHome('/')">Add More + </div>
								<div class="row">
							
						      </div>
							  <p style="font-size:12px;margin-left:0px"><span>&#42; Expected Delivery 2-3 days</span></p>
								<!-- <p style="font-size:12px;margin-left:0px"><span>&#42; conditions apply</span></p> -->
							</div>

						</div>

						</div>
						
						</div>


				</div>
			</div>


		</div>
		</div>
	</div>
</div>