<div class="td_container td_margin_from_header">
	<div class="page-section">
		<div class="wrapper">
			<h1 class="headline headline--center">Cart</h1>
			<div ng-show="cart.noOfProduct < 1">
				<p>Your cart is empty, go add product don't left your cart empty</p>
			</div>
			<div ng-show="cart.noOfProduct > 0">
				<p>You Need to Pay &#x20B9; {{cart.total}} for {{cart.noOfProduct}} products</p>
				<div class="td-row td-row__gutter td-row--header td-row--tb-margin">
					<div class="td-row-3">Product</div>
					<div class="td-row-2">Price</div>
					<div class="td-row-2">Discount</div>
					<div class="td-row-2">Quantity</div>
					<div class="td-row-1">Total Price</div>
					<div class="td-row-1"></div>
				</div>
				<div class="td-row td-row__gutter td-row--tb-margin" ng-repeat="product in cart.cartData">
					<div class="td-row-3">Order {{$index + 1}}</div>
					<div class="td-row-2">{{product.Amount}}</div>
					<div class="td-row-2">{{product.Discount}}</div>
					<div class="td-row-2">1</div>
					<div class="td-row-1">{{product.amountToBePaid}}</div>
					<div class="td-row-1">
				      <i class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="cart.removeProduct(product.orderId)"></i>
					</div>
				</div>
				<div class="float">
					<div class="btn btn-primary float__right" ng-click="cart.checkout()">checkout</div>
				</div>
			</div>
			<p>&#42; conditions apply</p>
		</div>
	</div>
</div>